.HomeCont{
    width: 87.5%;
    height: 100vh;
    position: relative;
}

.HomeTitle{
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 2.5rem;
    font-weight: 550;
    margin: 0;
    padding: 0;
}

.HomeSubtitle{
    position: absolute;
    top: 1.5em;
    left: 1em;
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    width: 30%;
}
